---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---
<Layout title="bloggin'">
	<main>  
		<body class="space-y-2">
            <a href="/"><button class="text-white/75 bg-slate-700 bg-opacity-50 bg-rounded-lg border-2 border-slate-500/50 hover:text-white">take me back</button></a>
			<div class="text-white/75 bg-slate-700 bg-opacity-50 bg-rounded-lg border-2 border-slate-500/50">
				<div>
                    <a class="hover:text-white" href="/blogs/post1/"><font size="+2">🤔</font> in which i consider what my blog should be</a>    
                </div>											
			</div>
		</body>
	</main>
</Layout>