---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
import Space from '../components/Space'
---
<Layout title="welcome to amesite">
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
	<main>
		<body>
			<div class="text-white/75 bg-slate-700 bg-opacity-50 bg-rounded-lg border-2 border-slate-500/50">
				<p>
				<br>
				hi<br>
				im amélie<br>
				welcome to <b>amesite</b><br>
				it is called <b>amesite</b> because<br>
				it is <b>ame's site</b><br>
				...get it?<br><br>	
				</p>
										
				<p>
				contact me at the places listed below <br><br>
				</p>					
				
				
					<ul class="text-white/75 text-decoration-line: underline">
						<li><a class="hover:text-white" href="https://github.com/dunningkrugerkid"> github</a></li>
						<li><a class="hover:text-white" href="/projects/"> some other projects</a></li>
						<li><a class="hover:text-white" href="https://github.com/dunningkrugerkid/dunningkrugerkid/blob/main/resume.pdf"> my resume</a></li>
					</ul>
				<p>
					<br>
					below is a star from a randomly-curated section of space.
				</p>
			</div>
			<Space client:load></Space>

		</body>
	</main>
</Layout>


