---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---
<Layout title="bloggin'">
	<main class="text-white/75 bg-slate-700 bg-opacity-75 bg-rounded-lg border-2 border-slate-500/50">
		<a href="/blog/"><button class="text-white/75 bg-slate-700 bg-opacity-50 bg-rounded-lg border-2 border-slate-500/50 hover:text-white">take me back</button></a>
		<div class="header text-2xl">
			<h2>in which i consider what my blog should be</h2>
		</div>
		<div class="header text-xl">
			<h2>aug 20, 2023</h2>
		</div>
		<body>

			<p>
				<br></br>
				i've been thinking for quite a while about what my first actual post on this blog would be. this is my first personal site that isn't <i>entirely</i> a joke.
				that's not to say that this i am planning to take myself particularly seriously, but rather that i thought it would be nice to christen this blog with
				something that isn't total drivel. i think i'll take the meta way out and talk about the blog itself - rich, considering there's barely anything here!<br></br>
			</p>
			
			<p>
				a lot of blogs that i read are tech-related. i love development (why else would i plan on making a career of it?) but i do not pretend to have particularly valuable opinions on it.
				i'm still very much a baby as far as these things go, and a lot of conversation in dev spheres frankly goes entirely over my head... <br></br>
			</p>

			<p>
				<i>...so i don't think it'll be a tech blog.</i> so what'll it be? <br></br>
			</p>

			<p>
				i have mostly settled on treating this site as a place for me to look at things that may not appear particularly interesting to anyone else, but which hold some significance to me.
				i've got a thousand little idiosyncrasies - i think most people do - and i think it would be nice to put them on display here.<br></br>
			</p>

			<p>
				yeah, that sounds nice.
			</p>

		</body>
	</main>
</Layout>